:root {
    --light-color: rgb(227, 219, 219);
    --dark-color: rgb(39, 7, 70);
}

html {
    font-family: 'Jura', sans-serif;
}
* {
    box-sizing: border-box;
}

p {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: .8px;
   
}

.header {
    width: 100%;
    height: 400px;

    background: url(images/dragons\ 2.jpg);
    background-size: cover;
    background-position: bottom;

}

.content {
    background-color: var(--light-color);
}

.intro {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;

    display: flex;
    flex-direction: column;
   

}


.title {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 40px;

    padding-top: 20px;
    padding-bottom: 20px;

    color: var(--dark-color);
}

.intro-title {
    padding-bottom: 40px;
}

.open-modal-button {
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color: var(--dark-color);
    font-size: 15px;

}

:hover.open-modal-button {
    background-color:rgb(221, 217, 217);
    transition: .3s;
    cursor: pointer;
    border: 1px solid var(--dark-color);
    
}

.add-modal {
    background-color: rgba(0, 0, 0, 0.315);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.add-modal-content {
    background-color:white;
    padding: 40px;
    box-shadow: 1px 1px 10px 1px rgb(180, 176, 176);
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    
}

.new-book-title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 30px;
    color: var(--dark-color);
}

.input {
    margin: 7px 0;
    padding: 10px;
    font-size: 15px;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    border-radius: 7px;
    font-family: 'Jura', sans-serif;
    width: 100%;
    

}

:focus.input {
    background-color: rgb(235, 230, 230);
}

.close-modal-button,
.save-modal-button  {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    color: var(--dark-color);
    font-size: 15px;
    width: 40%;
    background-color: rgb(245, 245, 245);
    width: 100%;
}

.save-modal-button {
    margin-top: 15px;
    margin-bottom: 7px;
}

:hover.close-modal-button,
:hover.save-modal-button{
    background-color: var(--light-color);
    transition: .3s;
    cursor: pointer;
   
}
.books-container {
    display: flex;
    flex-wrap: wrap;

    margin: 0 -15px;

}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    background-color: white;

    padding: 20px;
    margin: 15px;

    border-radius: 12px;
    box-shadow: 1px 1px 5px 1px rgb(182, 166, 166);
    

    width: calc(100% / 4 - 30px);
    
}


.book-title {
    height: 40px;
    color: var(--dark-color);;
    margin: 25px 0;

    font-size: 22px;
    font-weight: bold;
}

.book-authors {
    font-size: 18px;
    margin: 15px 0;
}

.book-button {
    width: 100%;
}

.delete-button {
    width: 100%;
    height: 25px;

    background-color: transparent;
    color: var(--dark-color);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
}
:hover.delete-button {
    background-color:var(--light-color);
    transition: .3s;
    
}


@media (max-width: 1024px) {
    .book-item {
        width: calc(100% / 3 - 30px); 
    }
    .intro {
        padding: 30px;
    }
    .header {
        height: 300px;
    }
    p {
        font-size: 20px;
    
}

}

@media (max-width: 768px) {
    .book-item {
        width: calc(100% / 2 - 30px); 
    }
    .header {
        height: 250px;
    }
    p {
        font-size: 18px;
    
    }
    .title {
        font-size: 35px;
    }

}

@media (max-width: 617px) {
    .book-item {
        width: calc(100% - 30px); 
        margin: 20px 60px;
    }
   
    .header {
        height: 150px;
    }
    p {
        font-size: 18px;
    
    }
    .title {
        font-size: 30px;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
       
    }
    .input {
        margin-bottom: 10px;
    }
   
}