:root {
    --light-color: rgb(227, 219, 219);
    --dark-color: rgb(39, 7, 70);
}

html {
    font-family: 'Jura', sans-serif;
}
* {
    box-sizing: border-box;
}

p {
    font-size: 22px;
    line-height: 1.5;
    letter-spacing: .8px;
   
}

.header {
    width: 100%;
    height: 400px;

    background: url(images/dragons\ 2.jpg);
    background-size: cover;
    background-position: bottom;

}

.content {
    background-color: var(--light-color);
}

.intro {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 0;

    display: flex;
    flex-direction: column;
   

}


.title {
    font-family: 'Jura', sans-serif;
    font-weight: 700;
    font-size: 40px;

    padding-top: 20px;
    padding-bottom: 20px;

    color: var(--dark-color);
}

.intro-title {
    padding-bottom: 40px;
}

.books-container {
    display: flex;
    flex-wrap: wrap;

    margin: 0 -15px;

}

.book-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    background-color: white;

    padding: 20px;
    margin: 15px;

    border-radius: 12px;
    box-shadow: 1px 1px 5px 1px rgb(182, 166, 166);
    

    width: calc(100% / 4 - 30px);
    
}


.book-title {
    height: 40px;
    color: var(--dark-color);;
    margin: 25px 0;

    font-size: 22px;
    font-weight: bold;
}

.book-authors {
    font-size: 18px;
    margin: 15px 0;
}

.book-button {
    width: 100%;
}

.btn {
    width: 100%;
    height: 25px;

    background-color: transparent;
    color: var(--dark-color);
    border-radius: 10px;
    border: none;
    
}
:hover.btn {
    background-color:var(--light-color);
    
}

/*в media не разобралась, как сделать, чтобы контейнеры .book-item оставались
фиксировнного размера. Картинка также не занимает все свободное место в контейнере*/

@media (max-width: 1024px) {
    .book-item {
        width: calc(100% / 3 - 30px); 
    }
    .intro {
        padding: 30px;
    }
    .header {
        height: 300px;
    }
    p {
        font-size: 20px;
    
}

}

@media (max-width: 768px) {
    .book-item {
        width: calc(100% / 2 - 30px); 
    }
    .header {
        height: 250px;
    }
    p {
        font-size: 18px;
    
    }
    .title {
        font-size: 35px;
    }

}

@media (max-width: 617px) {
    .book-item {
        width: calc(100% - 30px); 
        margin: 20px 60px;
    }
   
    .header {
        height: 150px;
    }
    p {
        font-size: 18px;
    
    }
    .title {
        font-size: 30px;
    }

}